# Football Statistics

Here we use results from the 2015-16 Premier League season for English association football. All participating teams are represented in the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('2015-16-premier-league.csv')
df.head()

           Team Name  Wins  Draws  Losses
0     Leicester City    23     12       3
1            Arsenal    20     11       7
2  Tottenham Hotspur    19     13       6
3    Manchester City    19      9      10
4  Manchester United    19      9      10

What is the mean number of wins recorded by teams? (Wins can be found as the second column of the table, or first numeric value in each row.)

> **13.6500**

In [2]:
df.describe()

            Wins      Draws     Losses
count  20.000000  20.000000  20.000000
mean   13.650000  10.700000  13.650000
std     4.944694   2.178846   5.806303
min     3.000000   7.000000   3.000000
25%    10.750000   9.000000  10.000000
50%    12.000000  10.500000  14.000000
75%    18.250000  12.250000  17.250000
max    23.000000  14.000000  27.000000

What is the median number of wins?

> **12.0**

In [3]:
df.Wins.median()

12.0

What is the standard deviation for the number of wins?

> **4.819491674440366**

In [4]:
import numpy as np

In [5]:
np.std(df['Wins'])

4.819491674440366

The std attempts below do not work because the calculate the sample std, whereas we seek the population std.

In [6]:
df.Wins.std()

4.944694126030447

In [7]:
import statistics

In [8]:
stdd = statistics.stdev(df.Wins)
print(stdd)

4.944694126030447

What is the interquartile range for the number of wins?

> **7.5**

Method 1:

In [9]:
q75, q25 = np.percentile(df.Wins, [75,25])
iqr = q75 - q25
print(iqr)

7.5

Method 2:

In [10]:
df.describe()

            Wins      Draws     Losses
count  20.000000  20.000000  20.000000
mean   13.650000  10.700000  13.650000
std     4.944694   2.178846   5.806303
min     3.000000   7.000000   3.000000
25%    10.750000   9.000000  10.000000
50%    12.000000  10.500000  14.000000
75%    18.250000  12.250000  17.250000
max    23.000000  14.000000  27.000000

In [11]:
18.250000-10.750000

7.5

Method 3:

In [12]:
np.percentile(df.Wins, [25, 75])

array([ 10.75,  18.25])

In [13]:
18.25 - 10.75

7.5

Method 4:

In [14]:
df.Wins.quantile([0.25,0.75])

0.25    10.75
0.75    18.25
Name: Wins, dtype: float64

Method 5:

using scipy.stats.iqr